.fd-category-row{
    margin-top: -72px;
}
.fd-catgories-card{
    background: #fef6e4;
    height: 144px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    z-index: 400;
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    
}
.fd-catgories-img{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.fd-catgories-img img{
    height: 100%;
    object-fit: cover;
}