.fd-link-card {
    height: 225px;
}
.fd-link-card div img:hover{
    animation: indexTransform 2s infinite;
    cursor: pointer;
}
.fd-link-card .fd-index-img img{
    height: 100%;
}

@keyframes indexTransform {
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.2, 1.2);
    }
    100%{
        transform: scale(1, 1);
    }
 }