nav{
    box-shadow: none;
    color: #fff;
    background: transparent ;
    position: absolute;
    width: 100%;
    z-index: 5000;
}
nav ul a{
    color: #fff;
}
nav .brand-logo{
    color: #001858;
}
.nav-wrapper{
    width: 70%;
    margin: 0 auto;
    max-width: 1280px;
}
nav .brand-logo{
    display: flex;
    margin-left: 20px;
}
nav .brand-logo .fd-logo-title{
    font-size: 18px;
    line-height: 64px;
    color: #fff;
    font-weight: 700;
}
nav .brand-logo i{
    color: #fff;
}
.fd-nav-bg{
    background-color: #fef6e4;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.navbar-fixed{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}